#bandeau_recherche{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 80%;
  height: 50px;
  margin: 20px auto;
  gap: 10px;
  align-items: center;
}