#bandeau_recherche{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 80%;
  height: 50px;
  margin: 20px auto;
  gap: 10px;
  align-items: center;
}

#En-tête{
  display: flex;
  margin-right: auto;
  justify-content: space-between;
  background-color: #333;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: white;
}

#En-tête a{
  transition: background-color 0.3s;
}

#En-tête a:hover {
  background-color: #575757;
}