#bandeau_recherche{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 90%;
  border-radius: 15px;
  padding:20px 20px;
  margin: 20px auto;
  gap: 10px;
  align-items: center;
}

#En-tête{
  display: flex;
  margin-right: auto;
  justify-content: space-between;
  background-color: #333;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 15px;
  color: white;
  align-items: center
}

#En-tête a{
  transition: background-color 0.3s;
}

#En-tête a:hover {
  background-color: #575757;
}

#Menu{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

#Accueil{
  background: rgba(255, 0, 0, 0.707);
  border-radius: 15px;
  padding: 40px 30px;
  width: 25%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  
}

#Profil{
  background: white;
  border-radius: 15px;
  padding: 40px 30px;
  width: 25%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  
}

#Informations_personnelles{
  background: rgba(21, 255, 0, 0.665);
  border-radius: 15px;
  padding: 40px 30px;
  width: 25%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);  
}

#Accueil a{
  transition: background-color 0.3s;
  color: inherit;
  text-decoration: none;
}

#Accueil a:hover {
  color: #4f4646;
}

#Profil a{
  transition: background-color 0.3s;
  color: inherit;
  text-decoration: none;
}

#Informations_personnelles a{
  transition: background-color 0.3s;
  color: inherit;
  text-decoration: none;
}

#Profil a:hover {
  color: #4f4646;
}

#Informations_personnelles a:hover {
  color: #4f4646;
}

#Profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  }

#trajet legend {
    font-size: 1.5rem;
    color: #8c031a;
    font-weight: bold;
    padding: 0 10px;
}

#trajets-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 20px;
}

#trajets-grid fieldset {
    padding: 15px;
}
#notation {
    text-align: center;
}
#centre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avis legend {
    font-size: 1.5rem;
    color: #8c031a;
    font-weight: bold;
    padding: 0 10px;
}