#bandeau_recherche{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 90%;
  border-radius: 5px;
  height: 50px;
  margin: 20px auto;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap
}
#En-tête{
  display: flex;
  margin-right: auto;
  justify-content: space-between;
  background-color: #333;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 15px;
  color: white;
  align-items: center
}
#En-tête a{
  transition: background-color 0.3s;
}

#En-tête a:hover {
  background-color: #575757;
}

#Menu{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

#Accueil{
  background: white;
  border-radius: 15px;
  padding: 40px 30px;
  width: 20%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#Profil{
  background: white;
  border-radius: 15px;
  padding: 40px 30px;
  width: 20%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#Informations_personnelles{
  background: white;
  border-radius: 15px;
  padding: 40px 30px;
  width: 20%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}